

.animate-charcter
{
  background-image: linear-gradient(
    -225deg,
    #000000 0%,
    #3d3d3d 29%,
    #000000  67%,
    #3b3b3b 100%

    /* #5b6d1a 0%,
    #def97b 29%,
    #5b6d1a  67%,
    #e3ff7e 100% */
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip  2s  linear  infinite ;
  display: inline-block;
}

@keyframes textclip {
  to {
    
    background-position: 200% center;
  }
}

.animate-charcter2
{
  background-color: white;
  animation: clip2 linear infinite ;
  animation-delay: 1s;
  animation-duration: 1s;

}

@keyframes clip2 {
    0% {
	transform: scaleX(0%);
    }
	
	
	100% {
        
        transform: scaleX(100%);
    }
}


.title {
	font-family: "Cairo";
	text-align: center;
	color: #FFF;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	letter-spacing: 1px;
	line-height:2
}

.smoke {
	/* background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif); */
	background-size: cover;
	/* color: transparent; */
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
	font-size: 120px;
	margin: 10px 0;
}
/* styling my button */

.white-mode {
	text-decoration: none;
	padding: 7px 10px;
	background-color: #122;
	border-radius: 3px;
	color: #FFF;
	transition: .35s ease-in-out;
	position: absolute;
	left: 15px;
	bottom: 15px;
	font-family: "Montserrat";
}

.white-mode:hover {
	background-color: #FFF;
	color: #122;
}





  .pic {
    position: absolute;
    z-index: -1;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: fade 18s infinite;
  }
 
  #pic1 {
    animation-delay: 0s;
    background-image: url('../assets//Hero/abd37e2d6b56232d8f17680dd3b169de.jpeg');
  }
  #pic2 {
    background-image: url('../assets/Hero/pexels-photo-1884583.webp');
    animation-delay: 6s;
  }
  #pic3 {
    background-image: url('../assets/Hero/pexels-photo-3839432.webp');
    animation-delay: 12s;
  }
 
  @keyframes fade  {
	0% {
        opacity:0;
	transform: scale(120%);
    }
	16.66% {
        opacity:1
    }
	33.33% {
        opacity:1
    }
	48.66% {
        opacity:0
    }
	100% {
        opacity:0; 
	transform: scale(100%);
    }
}




