
  
  .menuItem {
    z-index: 10;
    transform: translateX(-100%);
    will-change: transform;
  }
  
 
  
  .li_menu {
    color: var(--background);
    display: block;
    transform-origin: -20px 50%;
    font-weight: bold;
    /* font-size: 20px; */
    padding-bottom: 20px;
    will-change: transform, opacity, filter;
    text-align: center;
    /* color: #80a10a */
  }
  
  
  
  .menu_button {
    outline: none;
    border: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
    padding: 10px;

  }
  

  

  